@model IEnumerable<Drater.Models.Vote_Eleve>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.dateVote)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.valeur)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Eleve.pseudo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Retard.titre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.dateVote)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.valeur)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Eleve.pseudo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Retard.titre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
